<div id="dashboard-container"
      data-controller="dashboard"
      data-action="keydown@window->dashboard#keydown keyup@window->dashboard#keyup"
      class="flex flex-1 flex-col flex-nowrap justify-between min-h-screen h-screen max-h-screen bg-white"
      data-dashboard-standby-class="text-gray-200"
      data-dashboard-ready-class="text-red-700"
      data-dashboard-set-class="text-green-600"
      data-dashboard-running-class="text-gray-200"
>
  <div id="header" class="flex flex-none h-[100px] border-b-[2px] border-gray-400 bg-slate-900">
    <div id="logo-container" class="mx-[50px] my-[4px]">
      <!--<img src="<%= asset_path('logo.png') %>" width="300">-->
      <span class="font-bold text-[60px] text-gray-100 antialiased">A-Timer</span>
    </div>
  </div>

  <div id="main-container" class="flex flex-1 flex-nowrap flex-row justify-start items-stretch min-h-0 bg-slate-900">
    <div id="sessions-container" class="flex flex-col flex-nowrap justify-end min-w-[400px] max-w-[400px] w-fit max-h-full my-[10px] mx-[10px] border-[1px] border-gray-400">
      <turbo-frame id="sessions-frame" src=<%= "/sessions"%> data-dashboard-target="sessionsFrame" class="flex flex-1 flex-col flex-nowrap justify-start overflow-y-auto">
      </turbo-frame>
    </div>

    <div id="timer-container" class="flex flex-1 flex-col flex-wrap justify-center content-center">
      <turbo-frame id="scramble-frame" src=<%= "/scrambles"%> data-dashboard-target="scrambleFrame" class="flex flex-col flex-wrap justify-center content-center">
      </turbo-frame>
    
      <turbo-frame id="record-frame" src=<%= "/records/new"%> data-dashboard-target="recordFrame" class="flex flex-1 flex-col flex-wrap justify-center content-center">
      </turbo-frame>
    </div>
  </div>
</div>