<tr>
  <td class="text-center border border-stone-900"><%= record.session.records.count %></td>
  <td class="text-center border border-stone-900"><%= record.display_time %></td>
  <td class="text-center border border-stone-900">todo</td>
  <td class="text-center border border-stone-900">todo</td>
</tr>